.button{
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.button:hover{
  background: var(--gray-400);
  color: var(--danger);
  border-radius: 4px;
  trasition: background-color color 0.2s;
}